---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "8fbf11267ffe4ccb802b8e5e5ed316ec",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.ws.126.net/f2e/tie/yun/sdk/loader.js"></script>
